@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-grey, 900);
$accent:  md-palette($md-orange, 600, A100, A400);
$warn:    md-palette($md-red, A700);

$theme: md-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

/* General site-wide stuff */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  background-color: black;
}

h1 {
  font-size: 3rem;
}

.centered {
  text-align: center;
}

.black-bordered {
  border: 2px solid black;
}

.spooky-font {
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

/* Images */

.bat {
  height: 100px;
  width: 100px;
}

/* Animation */

.orange-to-red {
  color: orange;
  -webkit-transition: color 2s; /* Safari */
  -webkit-transition-timing-function: ease-in-out; /* Safari */
  transition: color 2s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: red;
  }
}

.fadeIn {
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.play-button {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.bottom-to-top-animation {
  animation-duration: 1s;
  animation-name: bottom-to-top;
}

@keyframes bottom-to-top {
  from {
    margin-top: 15%;
  }
  50% {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}

.left-to-right-animation {
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 120%;
  }
}

.flight-path {
  animation: shake 0.82s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
  transform: translate3d(0, 40px, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(20px, 50px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-40px, 50px, 0);
  }

  40%, 60% {
    transform: translate3d(30px, -30px, 0);
  }
}

.outerContainer {
  overflow: hidden;
}

/* Page Not Found */

.fin-centered {
  text-align: center;
  font-size: 4rem;
  padding-top: 10rem;

  h2 {
    font-size: 5rem;
  }
}

.return-button {
  padding: 4rem;
  font-size: 4rem;
}
