/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-grey, 900);
$accent:  md-palette($md-orange, 600, A100, A400);
$warn:    md-palette($md-red, A700);

$theme: md-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

/* General site-wide stuff */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  background-color: black;
}

.spooky-font {
  color: white;
  font-family: 'Nothing You Could Do', cursive;
  border: 2px solid black;
}

/* Images */

.bat {
  height: 100px;
  width: 100px;
}

/* Animation */

.orange-to-red {
  color: orange;
  -webkit-transition: color 2s; /* Safari */
  -webkit-transition-timing-function: ease-in-out; /* Safari */
  transition: color 2s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: red;
  }
}

.left-to-right-animation {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: -40%;
  }

  to {
    margin-left: 140%;
  }
}



